@use "sass:meta";
@use 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import './rc-slider.css';
@import './react-accessible-accordion.css';
@include meta.load-css('global');
@include meta.load-css('formatted_json');
@include meta.load-css('formatted_text');
@include meta.load-css('search');
@include meta.load-css('chapterselection');
@include meta.load-css('settings');
@include meta.load-css('navbar');
@include meta.load-css('typography');
@include meta.load-css('textselector');
@include meta.load-css('text');
@include meta.load-css('animations');
@include meta.load-css('audioplayer');
@include meta.load-css('footer');
@include meta.load-css('profile');
@include meta.load-css('privacypolicy');
@include meta.load-css('accountsettings');
@include meta.load-css('notes');
@include meta.load-css('copywrite');
@include meta.load-css('contextmenu');
@include meta.load-css('custompopup');
@include meta.load-css('custom-components');
@include meta.load-css('footnotePortal');
@include meta.load-css('notfound');
@include meta.load-css('video_player');
