@use "variables";

.information {
	color: #aaa;
	margin-top: 5px;
	max-width: 1000px;
	margin: 0 auto;

	&:before {
		content: '';
		position: absolute;
		width: 80%;
		height: 1px;
		left: 10%;
		@include variables.css4 {
			background-color: variables.var(--before-after-border-color);
		}
	}

	.information-toggle {
		// Reset default button styles
		background-color: transparent;
		border: none;
		outline: none;
		font-size: 60%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		transition: transform 1000ms ease-in-out;

		&:focus {
			outline: none;
		}

		.learn-more {
			@include variables.css4 {
				color: variables.var(--notebook-title-date-color);
			}
		}

		&:hover {
			cursor: pointer;
			opacity: 0.85;
		}

		.icon {
			transition: transform 1000ms ease-in-out;
			transform: rotate(0deg);
		}

		.rotate {
			transform: rotate(-180deg);
		}
	}

	.link {
		font-weight: 200;
		margin-left: 15px;
		cursor: pointer;

		@include variables.css4 {
			color: variables.var(--application-link-color);
		}
	}
	.copyrights-section {
		font-size: 10px;
		margin: 15px auto 10px auto;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 500px !important;

		.copyright-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;

			.cp-section {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				margin-top: 10px;
				padding: 0 20px;

				.org-name {
					margin: 10px 0;

					.link {
						&:hover {
							cursor: pointer;
							opacity: 0.8;
						}
						@include variables.css4 {
							color: variables.var(--notebook-title-date-color);
						}
					}
				}

				h3 {
					text-align: center;
				}

				img.image-landscape {
					width: 150px;
					height: auto;
					//max-height: 50px;
					min-height: 1px;
				}
				img.fcbh-copyright-logo {
					width: 150px;
					//max-height: 75px;
				}
				img {
					margin: 10px 0;
					height: 35px;
					//height: 109px;
				}
			}
		}
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.copyrights-section {
			div {
				.cp-section {
					text-align: center;

					p {
						max-width: 100%;
						white-space: normal;
					}

					a {
						text-align: center;
					}

					img {
						margin: 10px auto;
					}
				}
			}
		}
	}

	.ministry-statement {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		font-size: 14px;
		margin-top: 15px;
		// width: 320px;
		margin: 0 auto;

		.ministry-tagline {
			height: 16px;
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.ministry-terms-support {
			height: 16px;
			margin-top: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		a {
			@include variables.css4 {
				color: variables.var(--notebook-title-date-color);
			}

			&:hover {
				cursor: pointer;
				opacity: 0.85;
			}
		}

		@media only screen and (max-width: 400px) {
			font-size: 12px;
		}
	}
}
