@use "variables";

.footer-background {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	height: 45px;
	position: fixed;
	bottom: 0;
	//left: 0;
	width: 100%;
	@include variables.css4 {
		background: variables.var(--default-header-background-color);
	}
	transition: transform 200ms ease-in-out;

	&.closed {
		transform: translateY(100%);
	}
}
.footer-content {
	@include variables.css4 {
		color: variables.var(--default-text-color);
	}
	display: flex;
	height: 45px;
	justify-content: space-between;
	align-items: center;
}
.footer-content .item {
	//margin-top:5px;
	cursor: pointer;
	height: 45px;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	&.active {
		@include variables.css4 {
			background-color: variables.var(--menu-hover-state-background-color);
		}
	}

	&:hover {
		@include variables.css4 {
			background-color: variables.var(--menu-hover-state-background-color);
		}
	}

	&:after {
		width: 1px;
		height: 40px;
		position: absolute;
		right: 0;
		top: 2px;
		content: '';
		@include variables.css4 {
			background-color: variables.var(--before-after-border-color);
		}
	}

	&:last-of-type {
		&:after {
			all: unset;
		}
	}
}
.footer-content .item:hover {
	opacity: 0.65;
}

@media only screen and (min-width: variables.$small-bp) {
	// Shrink padding to 5px
	.footer-content {
		width: 291px;
		min-width: 291px;
		max-width: 404px;
	}
}

@media only screen and (min-width: variables.$medium-bp) {
	// padding left and right are 15px
	.footer-content {
		min-width: 405px;
		width: 405px;
		max-width: 405px;
	}
}

@media only screen and (min-width: variables.$large-bp) {
}
